body {
    font-family: Tahoma;
    font-size: 13px;
}

ul {
    list-style: none;
}

.mb-6 {
    margin-bottom: 24px;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.flex {
    display: flex;
}

.ml-4 {
    margin-left: 16px;
}