.background {
    background-image: url('https://i.pinimg.com/originals/32/b8/77/32b877ed4aa7778cc7d43ebb7d95a6f1.png');
}

.welcome-box {
    background: white;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 380px;
    transform: translate(-50%, -50%);
}

.welcome-box .input {
    height: 30px;
    line-height: 20px;
    border: 1px solid #DEDEDE;
    padding: 4px 10px;
    color: #333;
    background-color: #fff;
    outline: none;
    font-size: 14px;
    border-radius: 0;
    vertical-align: middle;
    box-sizing: border-box;
    
}

.welcome-box .btn {
    display: inline-block;
    font-size: 14px;
    color: #333;
    min-width: 80px;
    height: 30px;
    line-height: 20px;
    padding: 4px 10px;
    border: 1px solid #DEDEDE;
    border-radius: 6px;
    background-color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    outline: none;
}

.welcome-box .btn.btn-primary {
    background: #0084ff;
    color: #fff;
    border-color: #0084ff;
}

.welcome-box .btn.form-block {
    display: block;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
}

.welcome-panel {
    padding: 0 30px 15px 30px;
}

.welcome-panel .login-item .input {
    display: block;
    width: 100%;
    height: 30px;
    padding-left: 36px;
}

.welcome-box .welcome-hud li {
    float: left;
    width: 130px;
    text-align: center;
    position: relative;
}

.welcome-box .welcome-hud {
    /* height: 78px;
    line-height: 78px; */
    padding: 30px;
}


.login-item {
    position: relative;
    height: 10px;
    margin-bottom: 35px;
}

.login-options {
    text-align: center;
    line-height: 20px;
    margin-top: 10px;
    color: #666;
}

.form-messages {
    margin-top: 10px;
}











